* {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 960px;
}
img {
    max-width: 100%;
}
header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 200px);
}
.introduction {
    grid-column: 1/3;
    text-align: left;
}
.cake-img{
    grid-column: 1/2;
}
.custom-cakes {
    grid-column: 2/6;
    grid-row: 2/3;
}
.tasty-treats {
    grid-column: 1/3;
    grid-row: 3/4;
}
.products {grid-column: 3/4;}
nav a {
    text-align: center;
    padding: 35px;
    justify-items: space-between
}
.custom-cakes {
    grid-column: ;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.social {
    grid-column: 3/4;
}