
* {
    margin: 0 auto;
    max-width: 1600px;

}
.nutrition h3 {
    margin-top: 40px;
    font-family: overpass, Arial, Helvetica;
    font-size: 2.5em;
}
.header {
    background-color: black;
}
.content {
    background-color: black;
    color: white;
    text-align: center;
}
.title h1 {
    font-size: 4em;
    font-family: overpass, Arial, Helvetica;
}
p {
    font-family: source sans pro, Arial, Helvetica;
    font-size: 1.5em;
}
.logo {
    justify-self: center;
    align-self: center;
    width: 100px;
    border-radius: 50%;
}
.header nav {
    font-family: source sans pro, Arial, Helvetica;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 18px;
}
nav a {
    color: #fca311;
    text-align: center;
    text-decoration: none;
    line-height: 1.5em;
    padding: 5px;
}
.header img {
    border: 5px solid #fca311;
}
.content img {
    border: 5px solid #fca311;
    margin: 75px 20px 75px 20px;
}
.footer {
    font-family: source sans pro, Arial, Helvetica;
    background-color: black;
    color: white;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
}
.footer nav{
    font-family: source sans pro, Arial, Helvetica;
    font-size: 2em;
    color: #fca311;
}
